<% layout("/layouts/boilerplate") %>
<body>
    <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Edit Listing: <%= listing.title %></h1>

                <div class="m-2 flex justify-center items-center">
                    <img src="<%= oregImg %>" width="250" height="250" alt="<%= listing.image.filename %>">
                </div>
            <!-- title,desc,image,price,country,location -->
        <form action="/listings/<%= listing._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="flex flex-wrap -m-2">
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="title" class="leading-7 text-sm text-gray-600">Title</label>
                        <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                    <label for="image" class="leading-7 text-sm text-gray-600">Image</label>
                    <input type="file" id="image" name="listing[image]" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="price" class="leading-7 text-sm text-gray-600">Price</label>
                        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="amenities" class="leading-7 text-sm text-gray-600">Amenities</label>
                        <select id="amenities" name="listing[amenities]" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required multiple>
                            <option value="pools">pools</option>
                            <option value="villa">villa</option>
                            <option value="appartment">appartment</option>
                            <option value="mountain">mountain</option>
                            <option value="climbing">climbing</option>
                            <option value="farms">farms</option>
                            
                        </select>
                    </div>
                </div>
                <div class="p-2 w-1/2">
                    <div class="relative">
                    <label for="country" class="leading-7 text-sm text-gray-600">Country</label>
                    <input type="text" id="country" name="listing[country]" value="<%= listing.country %>"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                    <label for="location" class="leading-7 text-sm text-gray-600">Location</label>
                    <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                    <label for="description" class="leading-7 text-sm text-gray-600">Description</label>
                    <textarea id="description" name="listing[description]" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"><%= listing.description%></textarea>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Edit Listing</button>
                </div>
                
                </div>
            </div>
        </form>
        </div>
    </section>
</body>
